@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Barlow-Regular Font */
  @font-face {
    font-family: "Barlow";
    src: url("/assets/fonts/Barlow-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* BarlowCondensed-Regular Font */
  @font-face {
    font-family: "BarlowCondensed";
    src: url("/assets/fonts/BarlowCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* Bellefair-Regular Font */
  @font-face {
    font-family: "Bellefair";
    src: url("/assets/fonts/Bellefair-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  h1 {
    font-family: "Bellefair", sans-serif;
    font-size: 150px;
  }

  h2 {
    font-family: "Bellefair", sans-serif;
    font-size: 100px;
  }

  h3 {
    font-family: "Bellefair", sans-serif;
    font-size: 56px;
  }

  h4 {
    font-family: "Bellefair", sans-serif;
    font-size: 32px;
  }

  h5 {
    font-family: "BarlowCondensed", sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
  }
}
